body{
  background-color: rgb(39, 2, 73);
}
*{
  margin: 0;
  padding: 0;
}
.div1{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.div2{ 
  width: 47%;
padding: 10px;
  background-color: rgb(154, 78, 241);
    border-radius: 10px;
}
.form{
   
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 22px;
   
}
.input1{width: 100%;
  height: 20px;
  border:none;

}

label{
  font-size: 30px;
    margin-top: 10px;
}
.div5{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  border:none;
  position:"relative"
}
.button1{
height: 50px;
border-radius: 10px;
box-shadow: none;
font-size: 27px;
color: aliceblue;
border: none;
width: 150px;
margin-top: 10px;
}
.button2{
  position: absolute;
margin-left: 45%;
background-color: rgb(248, 245, 248);
border: none;

cursor: pointer;
height: 20px;



}

.div3{
  position:absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(37, 37, 37, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
}
.div4{
  width: 80%;
  position: relative;
  text-align: center;
background-color: rgb(250, 242, 250);
}